extends layout

block content
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='/javascripts/utils.js')
  <div style="width: 100%; text-align: center;">
  img(src="images/globe.png", alt="RD" height="42" width="42" style="display: inline-block; padding-right: 5px;")
  h1(id = "title",  style="display: inline-block;")=title + " - " + username
  </div>
  p(style="width: 100%; text-align: center;") Digital Asset Trading Made Easy
  <form action="/signout" method = "post">
  <div align="right" style="position: absolute; top: 10px; right:10px;">
  button(style="width: 150px; display: block; border: none; background-color: #FF0000; color: #FFFFFF; padding: 14px 28px; font-size: 16px; cursor: pointer; text-align: center;") Sign Out
  </div>

  </form>
  <!-- Tab links -->
  <div class="tab">
  <button class="tablinks" onclick="loadAssets(event, 'myAssets')">My Assets</button>
  <button class="tablinks" onclick="loadAssets(event, 'all')">All Assets</button>
  <button class="tablinks" onclick="loadAssets(event, 'createAsset')">Create Assets</button>
  </div>
  <!-- Tab content -->
  <div id="myAssets" class="tabcontent">
  <h3>My Assets</h3>
  <p>All your digital assets will be listed here.</p>
  </div>
  <div id="all" class="tabcontent">
  <h3>All Assets</h3>
  <p>The Assets being Traded on the System.</p> 
  </div>
  <div id="createAsset" class="tabcontent">
  <h3>Create a New Asset</h3>
  <div align="center">
  <label id="message">
  </div>
  <div align="center">
  <input id = "assetname" type="text" placeholder="Name of the Asset" name="name" style="display: inline-block; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" required/>
  </div>
  <div align="center">
  <input id = "assetquantity"  type="text" placeholder="Quantity" name="quanity" style="display: inline-block; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" required/>
  </div>
  <div align="center">
  <input id = "assetprice" type="text" placeholder="Price" name="price" style="display: inline-block; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" required/>
  </div>
  <div align="center">
  button(onclick="createAsset()" style="margin-top: 20px; width: 150px; display: block; border: none; background-color: #3F51B5; color: #FFFFFF; padding: 14px 28px; font-size: 16px; cursor: pointer; text-align: center;") Create Asset
  </div>
  </div>