extends layout

block content
  script(src='/javascripts/utils.js')
  img(src="images/globe.png", alt="RD" height="42" width="42")
  h1(id = "title",  align="left")=title + " - " + username
  p(align="left") Digital Asset Trading Made Easy